@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 690px) {
  .container-about-us div:first-child {
    width: 100% !important;
  }
}

@media (min-width: 360px) and (max-width: 574px) {
  .onu-grid {
    grid-template-columns: repeat(2, minmax(0, 2fr)) !important;
  }
}

@media (min-width: 575px) and (max-width: 640px) {
  .onu-grid {
    grid-template-columns: repeat(3, minmax(0, 3fr)) !important;
  }
}

p {
  line-height: 2rem;
  font-size: large;
}

.css-1cnilsh-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #DC2626;
}

.MuiTabs-indicator {
  background-color: #DC2626;
}

