@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 690px) {
  .container-about-us div:first-child {
    width: 100% !important;
  }
}

@media (min-width: 360px) and (max-width: 574px) {
  .onu-grid {
    grid-template-columns: repeat(2, minmax(0, 2fr)) !important;
  }
}

@media (min-width: 575px) and (max-width: 640px) {
  .onu-grid {
    grid-template-columns: repeat(3, minmax(0, 3fr)) !important;
  }
}

.description-card-heros {
  max-width: 290px;
  /* Tamanho */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

p {
  line-height: 2rem;
  font-size: large;
}

@media (min-width: 1024px) {
  .paragraph-rich-text p {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .paragraph-rich-text p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.css-1cnilsh-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #DC2626;
}

.MuiTabs-indicator {
  background-color: #DC2626;
}

#content-hero p {
  font-size: medium;
  text-align: left !important;
}

#content-hero p:first-child {
  display: none;
  /* justify-content: center; */
}

#content-hero p:last-child {
  margin-top: 2rem;
}

#sdg-3 {
  height: 15vh;
  width: 15vh;
}

.cart-preview {
  display: none;
  background: '#FFF';
  border: 1px solid gray;
}

.cart-preview.active {
  z-index: 99;
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  margin: 14px;
  right: 0;
  width: 400px;
  height: 388px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  @media (max-width: 400px) {
    top: 45px;
    width: 100%;
    min-width: 300px;

    &>div {
      width: 100% !important;
    }

    .cart-items {
      width: 100%;
    }

    .stepper-input {
      a {
        display: none;
      }
    }
  }
}

.cart-items {
  height: 270px;
  overflow-y: auto;
  width: 430px;
}

.cart-item {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 8px;
}

.cart-item .product-image {
  width: 48px;
  height: 48px;
}